{% set header_image = page.media.images["header.jpg"] %}
{% set overlay_image = page.media.images["overlay.png"] %}
<section id="header" class="dark" style="background-image: url({{ overlay_image.url }}),url({{ header_image.url }});">
    <header>
        <h1>{{ page.header.title }}</h1>
        {{ content }}
    </header>
    <footer>
        {% for button in page.header.buttons %}
            <a href="{{ button.url }}" class="button scrolly">{{ button.text }}</a>
        {% endfor %}
    </footer>
</section>